<div class="container-homepage">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
         <a class="nav-link" href="#" id="logout">Logout</a>
      </div>
    </div>
  </div>
</nav>
    <div class="homepage-intro">
        <p class="homepage-vault-title2">YOUR VAULT</p>
        <div class="tutorial">
        <p>Logged in as {{user}}</p>
        <p>Here's all your accounts</p>
         <p>Click the button next to each of them to reveal the password you saved</p>
         <p>Use the Edit Password button to update your password</p>
        </div>
    </div>

        <!-- Button trigger modal -->
  <div class="button-container">
    <button type="button" class="common-button-style homepage-button" id="new-account-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add New Account
    </button>
  </div>


  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Your Account Information</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
        <div class="form-group">
    <label for="account-name">Account Name</label>
    <input type="text" class="form-control" id="account-name" aria-describedby="emailHelp" placeholder="Enter account name">
  </div>
  <div class="form-group">
    <label for="account-url">Account URL</label>
    <input type="text" class="form-control" id="account-url" aria-describedby="emailHelp" placeholder="url">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
     </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="add-account" class="btn btn-primary add-account-btn">Add Account</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<div class="account-list">
{{#each accounts}}
  <br> <hr> <br>
    <div class="account-list-item">
  <p class="homepage-account-name">{{account_name}}</p>
    <div class="homepage-password-render" data-password="{{password}}" data-shown="false">••••••••</div>
  <button class="show-tool" data-id="{{password}}">
      <i class="fa-solid fa-eye fa-2xl" style="color: #329ea1;"></i>  
  </button>
  <button class="edit-tool delete-tool" data-account_id="{{id}}">
      <i class="fa-regular fa-trash-can fa-2xl" style="color: #32a897;"></i>
  </button>
    </div>
{{/each}}
</div>

</div>

<script src="./JS/addAccount.js"></script>
<script src="./JS/revealPassword.js"></script>
<script src="./JS/logout.js"></script>
<script src="./JS/deleteAccount.js"></script>


